<h4 style="direction: rtl;">
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans %}
سلام دوست عزیز، شما یا شخص دیگری تقاضای تغییر رمز عبور حساب کاربری شما در سامانه ایده‌های نوافتا مرکز تخصصی آپا دانشگاه صنعتی اصفهان را درخواست نموده است.
<br>

اگر خود شما بازنشانی رمز عبور را درخواست نکرده‌اید، با خیال راحت از این پیام چشم‌پوشی کنید. برای بازنشانی رمز عبور روی لینک زیر کلیک کنید:{% endblocktrans %}
<br>
<br>
<br>

{{ password_reset_url }}
<br>

{% if username %}{% blocktrans %}{% endblocktrans %}{% endif %}{% endautoescape %}{% endblock %}
<br>
</h4>